html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

#canvas {
    cursor: pointer;
}
#canvas:active {
    cursor: default;
}

#lives {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    max-width: 200px;
    flex-wrap: wrap;
}

#lives svg {
    width: 30px;
}

#ui {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}