/* ---------------------------------------------------------------- */
/* BREAKTHROUGH.IHAWP.COM */

:root {
    --color-1: purple;
    --color-2: #fff;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Boldonse';
    src: url("../fonts/Boldonse-Regular.ttf");
}

body {
    font-family: 'Boldonse';
    align-items: center;
    height: 100vh;
    justify-content: center;
    overflow-x: hidden;
}

/* ---------------------------------------------------------------- */
/* SCROLLBAR */

::-webkit-scrollbar {
    background-color: rgb(255, 255, 255, 0.2);
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255, 0.8);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255, 255, 255, 0.5);
}

/* ---------------------------------------------------------------- */
/* SIDEBAR (navigation) */

aside {
    background-color: rgb(255, 255, 255, 0.2);
    height: min-content;
    padding: 1rem;
}

/* ---------------------------------------------------------------- */
/* ERROR PAGE */

/* ---------------------------------------------------------------- */
/* MAIN (section id="main") */

#main {
    width: max-content;
    max-width: 100%;
    flex-direction: column;
}

/* ---------------------------------------------------------------- */
/* MAIN (main) */

main {
    justify-content: center;
    gap: 1rem;
}

/* ---------------------------------------------------------------- */
/* SINGLE PROPERTY */

.c-1 {
    color: var(--color-1);
}

.c-2 {
    color: var(--color-2);
}

.bg-1 {
    background-color: var(--color-1);
}

.bg-2 {
    background-color: var(--color-2);
}

.b-1-2 {
    border: 1px solid var(--color-2);
}

.text-center {
    text-align: center;
}

.go-home {
    margin-top: 10px;
}

.none {
    display: none;
    visibility: hidden;
}

svg {
    width: 25px;
    height: 25px;
}

svg path {
    fill: var(--color-2);
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.gap-0-5 {
    gap: .5rem;
}

.gap-2 {
    gap: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

ul {
    list-style: none;
}

.max-width-300 {
    max-width: 300px;
}

.font-0-8 {
    font-size: .8rem;
}

.boldonse {
    font-family: 'Boldonse';
}

/* ---------------------------------------------------------------- */
/* CANVAS */

#canvas {
    display: block;
    cursor: pointer;
    z-index: 999;
    height: 500px;
}

#main, #canvas, #leaderboard-container, #usernameForm, #error404 {
    width: 500px;
    height: 500px;
}

#canvas, #leaderboard-container, #username-form input, #username-form button {
    box-shadow: 0 0 10px 1px rgb(255, 255, 255, 0.5);
}

#canvas:active {
    cursor: default;
}

/* ---------------------------------------------------------------- */
/* LEADERBOARD */

table.leaderboard {
    text-align: left;
    font-family: sans-serif;
}

thead.leaderboard, tr.leaderboard {
    padding: 1rem;
    position: relative;
}

tr.first, tr.second {
    color: black;
}
tr.first {
    background-color: black;
    color: white;
}
tr.second {
    background-color: #FFF700;
}
tr.third {
    background-color: #F10040;
}
tr.fourth {
    background-color: #16A34A;
}

thead.guide {
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    background-color: purple;
    z-index: 1;
}

td.rank {
    width: 100px;
}

td.round {
    text-align: end;
    width: 100px;
}

td.enemies {
    width: 200px;
}

td.username {
    width: 200px;
}

#leaderboard-container {
    overflow-y: scroll;
}

#leaderboard-container::-webkit-scrollbar {
    width: 0;
}

/* ---------------------------------------------------------------- */
/* HEADER (breakthrough logo*) */

header.header {
    position: absolute;
    top: 15px;
    left: 15px;
}


/* ---------------------------------------------------------------- */
/* USERNAME FORM */

#usernameForm {
    flex-direction: column;
    align-items: center;
}

#username-form {
    justify-content: center;
    gap: .5rem;
    margin: 30px 0 30px 0;
}

#username-form input, #username-form button {
    outline: none;
    padding: .5rem 1rem;
}
#username-form input {
    background-color: transparent;
    max-width: 250px;
}
#username-form button {
    color: purple;
}

input::placeholder {
    color: rgb(255, 255, 255, 0.35);
}

input:is(:-webkit-autofill, :autofill) {
    background-color: transparent;
    color: var(--color-2);
}

button {
    cursor: pointer;
}