/* ---------------------------------------------------------------- */
/* BREAKTHROUGH.IHAWP.COM */

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Boldonse';
    src: url("../fonts/Boldonse-Regular.ttf");
}

body {
    font-family: 'Boldonse';
    background: #800080;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    overflow-x: hidden;
}


/* ---------------------------------------------------------------- */
/* SCROLLBAR */

::-webkit-scrollbar {
    background-color: rgb(255, 255, 255, 0.2);
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255, 0.8);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255, 255, 255, 0.5);
}

/* ---------------------------------------------------------------- */
/* SIDEBAR (navigation) */

aside {
    background-color: rgb(255, 255, 255, 0.2);
    height: min-content;
    padding: 1rem;
}

aside nav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* ---------------------------------------------------------------- */
/* ERROR PAGE */

#error404 {
    height: 500px;
    width: 500px;
}

/* ---------------------------------------------------------------- */
/* MAIN (section id="main") */

#main {
    width: max-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

/* ---------------------------------------------------------------- */
/* MAIN (main) */

main {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* ---------------------------------------------------------------- */
/* SINGLE PROPERTY */

.text-center {
    text-align: center;
}

.go-home {
    margin-top: 10px;
}

.none {
    display: none;
    visibility: hidden;
}

nav.nav a, .go-home {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

svg {
    width: 25px;
    height: 25px;
}

svg path {
    fill: #fff;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.gap-0-5 {
    gap: .5rem;
}

.mt-1 {
    margin-top: 1rem;
}

ul {
    list-style: none;
}

.max-width-300 {
    max-width: 300px;
}

.font-0-8 {
    font-size: .8rem;
}

/* ---------------------------------------------------------------- */
/* CANVAS */

#canvas {
    display: block;
    cursor: pointer;
    z-index: 999;
    border: 1px solid #fff;
    box-shadow: 0 0 10px 1px rgb(255, 255, 255, 0.5);
    width: 500px;
    height: 500px;
}

#canvas, #leaderboard-container, #username-form input, #username-form button {
    box-shadow: 0 0 10px 1px rgb(255, 255, 255, 0.5);
}

#canvas:active {
    cursor: default;
}

/* ---------------------------------------------------------------- */
/* LEADERBOARD */

ul.leaderboard {
    display: flex;
    flex-direction: column;
}

li.leaderboard {
    padding: 1rem;
    position: relative;
    color: #fff;

    display: flex;
    font-family: sans-serif;
}

li.guide {
    font-weight: 700;
    border-bottom: 1px solid white;
}

li.leaderboard .rank {
    width: 100px;
}
li.leaderboard .round {
    text-align: end;
    width: 100px;
}
li.leaderboard .enemies {
    width: 200px;
}
li.leaderboard .username {
    width: 200px;
}


#leaderboard-container, #usernameForm {
    height: 500px;
    width: 500px;
}

#leaderboard-container {
    overflow-y: scroll;
    border: 1px solid #fff;
}

#leaderboard-container::-webkit-scrollbar {
    width: 0;
}

/* ---------------------------------------------------------------- */
/* HEADER (breakthrough logo*) */

header.header {
    position: absolute;
    top: 15px;
    left: 15px;
}


/* ---------------------------------------------------------------- */
/* USERNAME FORM */

#usernameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username-form {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin: 30px 0 30px 0;
}

#username-form input, #username-form button {
    font-family: 'Boldonse';
    border: 1px solid white;
    outline: none;
    padding: 1rem;
    background-color: transparent;
    color: white;
}
#username-form button {
    background-color: #fff;
    color: purple;
}

input::placeholder {
    color: white;
}

input:is(:-webkit-autofill, :autofill) {
    background-color: transparent;
}

button {
    cursor: pointer;
}

@media (min-width: 50em) {
    main {
        width: 50rem;
    }
}