html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --c-1: red;
}

body {
    background-color: blue;
    color: #fff;
}

ul {
    list-style: none;
}

.pl-2 {
    padding-left: 2rem;
}

.disc {
    list-style: disc;
}

a {
    color: #fff;
}