.calculator {
    background-color: #222;
    padding: 1rem;
    border: 4px solid #111;
    width: 384px;
    border-radius: 8px;
}

.calculator .screen {
    border-radius: 8px;
    height: 100px;
    background-color: #333;
    text-align: center;
    display: flex;
    align-items: end;
    padding: 0 0 15px 0;
    justify-content: center;
    border: 4px solid #111;
    margin: 0 0 10px 0;
    position: relative;
    font-family: sans-serif;
}

.memory-display {
    position: absolute;
    top: 5px;
    left: 5px;
}

.calculator .screen p {
    text-wrap: wrap;
    max-width: 384px;
}

.calculator button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 1.125rem;
    border: 1px solid #222;
    background-color: #333;
    border-radius: 50px;
    transition: .2s ease;

    box-shadow: 0 1px 1px 1px rgb(0, 0, 0, 0.05);
}

.calculator button:hover {
    opacity: .8;
}

.calculator .buttons ul, .calculator .buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    gap: .25rem;
}

.calculator .buttons {
    gap: 1rem;
}

.calculator .memory {
    justify-content: center;
}

.calculator .memory button {
    width: 45.5px;
    height: 45px;
    font-size: 0.8rem;
}

.zero {
    order: 2;
}

.sign {
    order: 9;
}

.memory {
    width: 100%;
}

.acs {
    width: 50px;
}

.numbers {
    width: 158px;
}

.operators {
    width: 104px;
}

.ac button {
    background-color: red;
}

.equal button {
    background-color: yellowgreen;
    color: #111;
}