html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --c-1: purple;
  --c-2: #fff;
}

body {
  background-color: var(--c-1);
  color: var(--c-2);
}

ul {
  list-style: none;
}

header, main, footer {
  width: 500px;
  background: green;
}

@media (min-width: 50em) {
  header, main, footer {
    width: 50rem;
  }
}