html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --c-1: purple;
  --c-2: #fff;
}

@font-face {
  font-family: 'Boldonse';
  src: url('./fonts/Boldonse-Regular.ttf');
}

body {
  background-color: var(--c-1);
  color: var(--c-2);
  font-family: 'Boldonse', sans-serif;
}

ul {
  list-style: none;
}

main header {
  margin: 40px 0 20px 0;
}

footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 75px;
}

a {
  color: var(--c-2);
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}