/* Warren Chemerika | BCIT */
/* Country Page Project */
/* Mobile First CSS */

@font-face {
    font-family: 'Roboto';
    /* compressed ttf to woff2 with fontsquirrel... font from google fonts */
    src: url("../fonts/roboto-variablefont_wdthwght-webfont.woff2");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}
:root {
    --1: white;
    --2: #26374a;
    --3: red;
    --4: rgb(255, 255, 255, 0.6);
}

/* semantics */
body {
    color: var(--2);
    font-family: 'Roboto', serif;
    font-size: 1.25rem;
}
.inverted {
    background: var(--2);
    color: var(--1);
}
header {

}
nav {

}
main {
}
section {
    box-sizing: border-box;
    padding: 0 1em 0 1em;
}
section, .div-media {
    width: 100%;
}
footer {
}
button {
    cursor: pointer;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', serif;
}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

blockquote {
    opacity: 0.6;
}

/* p a */
p {

}
a {
    text-decoration: none;
    transition: ease 0.1s;
}
a:hover:not(#language-nav a), a.active {
    text-underline-offset: 5px;
    text-decoration: underline;
}
footer a {
    color: var(--4);
}
header a {
    color: var(--2);
}

/* ul/li */
ul {
    list-style: none;
}
li {}


/* CUSTOM CLASSES */

/* background */
.bg-1 {
    background: var(--1);
}
.bg-2 {
    background: var(--2);
}
.bg-3 {
    background: var(--3);
}
.bg-4 {
    background: var(--4);
}

/* color */
.c-1 {
    color: var(--1);
}
.c-2 {
    color: var(--2);
}
.c-3 {
    color: var(--3);
}
.c-4 {
    color: var(--4);
}

/* border color */
.bc-1 {
    border-color: var(--1);
}
.bc-2 {
    border-color: var(--2);
}
.bc-3 {
    border-color: var(--3);
}
.bc-4 {
    border-color: var(--4);
}

/* border width */
.bw-2 {
    border-width: 2px;
}

/* border style */
.bs-solid {
    border-style: solid;
}

/* font weight */
.font-100 {
    font-weight: 100;
}
.font-200 {
    font-weight: 200;
}
.font-300 {
    font-weight: 300;
}
.font-400 {
    font-weight: 400;
}
.font-weight-500 {
    font-weight: 500;
}
.font-weight-600 {
    font-weight: 600;
}
.font-weight-700 {
    font-weight: 700;
}
.font-weight-800 {
    font-weight: 800;
}
.font-weight-900 {
    font-weight: 900;
}

/* text */
/* text-smart-sm is media class
   at small breakpoint (550px) it
   is changed to text-align end
   a bit custom, but could be extended
   in a larger code base, and perhaps down
   the line I will have to extend it.
*/
.text-start, .text-start-sm  {
    text-align: start;
}
.text-center {
    text-align: center;
}
.text-end {
    text-align: end;
}

/* flex */
.flex, main {
    display: flex;
}

/* flex direction / flex direction media */
/* trying flex media classes for different breakpoints */
/*  -row/-col: will have no breakpoint
    -sm: small breakpoint (550px)
    -md: medium breakpoint (767px)
    -lg: large breakpoint (1200px) */
.flex-row,
.flex-row-sm,
.flex-row-md,
.flex-row-lg {
    flex-direction: row;
}
.flex-col, main,
.flex-col-sm,
.flex-col-md,
.flex-col-lg
{
    flex-direction: column;
}
.flex-row-rev,
.flex-row-rev-sm,
.flex-row-rev-md,
.flex-row-rev-lg
{
    flex-direction: row-reverse;
}
.flex-col-rev,
.flex-col-rev-sm,
.flex-col-rev-md,
.flex-col-rev-lg,
.flex-col-rev-sm-nr
{
    flex-direction: column-reverse;
}

/* flex grow */
.flex-grow-1 {
    flex-grow: 1;
}

/* flex wrap */
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}

/* flex basis */
.basis-auto {
    flex-basis: auto;
}

/* justify content */
.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: start;
}
.justify-end {
    justify-content: end;
}

/* align items */
.items-center, main {
    align-items: center;
}
.items-start {
    align-items: start;
}
.items-end {
    align-items: end;
}

/* min height */
.min-h-200 {
    min-height: 200px;
}

/* gap */
.gap-half {
    gap: 0.5em;
}
.gap-1 {
    gap: 1em;
}
.gap-2 {
    gap: 2em;
}
.gap-3 {
    gap: 3em;
}
.gap-4 {
    gap: 4em;
}
.gap-5 {
    gap: 5em;
}

/* padding */
.p-half {
    padding: 0.5em;
}
.p-1 {
    padding: 1em;
}
.p-2 {
    padding: 2em;
}
.p-3 {
    padding: 3em;
}
.p-4 {
    padding: 4em;
}
.p-5 {
    padding: 5em;
}

/* p x */
.px-half {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.px-1 {
    padding-top: 1em;
    padding-bottom: 1em;
}
.px-2 {
    padding-top: 2em;
    padding-bottom: 2em;
}
.px-3 {
    padding-top: 3em;
    padding-bottom: 3em;
}
.px-4 {
    padding-top: 4em;
    padding-bottom: 4em;
}
.px-5 {
    padding-top: 5em;
    padding-bottom: 5em;
}

/* p y */
.py-half {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.py-1 {
    padding-left: 1em;
    padding-right: 1em;
}
.py-2 {
    padding-left: 2em;
    padding-right: 2em;
}
.py-3 {
    padding-left: 3em;
    padding-right: 3em;
}
.py-4 {
    padding-left: 4em;
    padding-right: 4em;
}
.py-5 {
    padding-left: 5em;
    padding-right: 5em;
}

/* margin */
.m-half {
    margin: 0.5em;
}
.m-1 {
    margin: 1em;
}
.m-2 {
    margin: 2em;
}
.m-3 {
    margin: 3em;
}
.m-4 {
    margin: 4em;
}
.m-5 {
    margin: 5em;
}

/* m x */
.mx-half {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.mx-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}
.mx-2 {
    margin-top: 2em;
    margin-bottom: 2em;
}
.mx-3 {
    margin-top: 3em;
    margin-bottom: 3em;
}
.mx-4 {
    margin-top: 4em;
    margin-bottom: 4em;
}
.mx-5 {
    margin-top: 5em;
    margin-bottom: 5em;
}

/* m y */
.my-half {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.my-1 {
    margin-left: 1em;
    margin-right: 1em;
}
.my-2 {
    margin-left: 2em;
    margin-right: 2em;
}
.my-3 {
    margin-left: 3em;
    margin-right: 3em;
}
.my-4 {
    margin-left: 4em;
    margin-right: 4em;
}
.my-5 {
    margin-left: 5em;
    margin-right: 5em;
}

/* width % */
.w-full {
    width: 100%;
}
.w-half {
    width: 50%;
}
.w-third {
    width: 33%;
}

/* min width */
.min-width-150 {
    min-width: 150px;
}
.min-width-150:last-of-type {
    flex-grow: 1;
}

/* height */
.h-full {
    height: 100%;
}

/* grid */


#language-nav a {
    background-color: var(--2);
    color: var(--1);
    padding: 0.5em;
}

#mobile-nav {
    z-index: 999;
    position: fixed;
    color: var(--1);
    background-color: var(--2);
    top: 0;
    left: 0;
    font-size: 1.25rem;
    box-sizing: border-box;
}

/* overflow */
.overflow-auto {
    overflow: auto;
}


.border-box {
    box-sizing: border-box;
}

#mobile-nav a {
    font-size: 1.5rem;
}
#button-mobile-nav {
    background: transparent;
    outline: none;
    border: none;
    rotate: 90deg;
    font-size: 2rem;
    color: var(--2);
}
#button-exit-mobile-nav {
    background: transparent;
    padding: 10px 29px;

    border-radius: 150px;
    outline: none;
    font-size: 5rem;
}

.outline-none {
    outline: none;
}

#mobile-nav .mobile-alt a, .mobile-alt, a.mobile-alt {
    opacity: 0.8;
    font-size: 1.3rem;
}


#hero {
    height: 200px;
}
#hero-image {
    object-fit: cover;
    object-position: bottom;
}

/* form */
input, form button {
    padding: 5px 10px;
    border-radius: 0;
}
input[type=text], form button {
    font-family: 'Roboto', serif;
}

/* display */
.display, .display-sm, .display-md, .display-lg, #mobile-nav {
    display: none;
}

/* media */
/*
    PERHAPS: better system could have been break point class
    like .sm .md .lg that don't have any added properties
    but use .flex-row.sm to identify switching in media queries...
    that is in relation to the flex stuff.
 */
@media screen and (min-width: 580px) {
    /* flex direction media */
    .flex-row-sm {
        flex-direction: column;
    }
    .flex-col-sm, .flex-col-rev-sm-nr {
        flex-direction: row;
    }
    .flex-row-rev-sm {
        flex-direction: column-reverse;
    }
    .flex-col-rev-sm {
        flex-direction: row-reverse;
    }
    .text-start-sm {
        text-align: end;
    }
    .text-end-sm {
        text-align: start;
    }
    .none {
        display: none;
    }
    .display-sm {
        display: flex;
    }
    section {
        padding: unset;
    }
}
@media screen and (min-width: 767px) {
    /* flex direction media */
    .flex-row-md {
        flex-direction: column;
    }
    .flex-col-md {
        flex-direction: row;
    }
    .flex-row-rev-md {
        flex-direction: column-reverse;
    }
    .flex-col-rev-md {
        flex-direction: row-reverse;
    }
    section, .div-media {
        width: 760px;
    }
    .display-md {
        display: flex;
    }
}
@media screen and (min-width: 1200px) {
    /* flex direction media */
    .flex-row-lg {
        flex-direction: column;
    }
    .flex-col-lg {
        flex-direction: row;
    }
    .flex-row-rev-lg {
        flex-direction: column-reverse;
    }
    .flex-col-rev-lg {
        flex-direction: row-reverse;
    }
    section, .div-media {
        width: 1190px;
    }
    .display-lg {
        display: flex;
    }
}
