/* ihawp.com 2025 */

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


body {

    overflow-x: hidden;

    background-color: dodgerblue;

    font-family: sans-serif;

    margin: 1rem;
}

/* HEADER */

header {
    
}

header nav {

}

header nav ul {
    display: flex;
    flex-direction: row;

    list-style: none;
    gap: 1rem;
}

/* POSTERS */

.movie-row > div {
    padding: 2rem 0;
}

.movie-row > h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
    line-height: 36px;
}

svg {
    width: 25px;
    height: 25px;
    fill: #000;
}

.poster {
    min-width: 200px;
    min-height: 300px;
    width: 200px;
    height: 300px;
    max-width: 200px;
    max-height: 300px;
    border-radius: 8px;
    transition: all 0.25s ease;
}

.poster, .poster button { cursor: pointer }

.poster img {
    position: absolute;
    width: 200px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.poster .content {
    z-index: 1;

    visibility: hidden;

    width: 200px;
    height: 300px;

    opacity: 0;

    border-radius: 8px;

    background-color: rgb(23, 139, 255, 0.7);

    transition: all 0.25s ease;

    padding: 1rem;
}

.poster .content h2 {
    font-size: 1.125rem;
}

.poster:hover div div {
    visibility: visible;
    opacity: 1;
}

.poster:hover {
    transform: scale(1.05);
}

/* SINGLE PROPERTY CLASSES */

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 1rem;
}