/* this css is written specifically for this html content */

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-1: mintcream;
    --color-2: #222;
}

body {
    background: var(--color-1);
    font-family: "Microsoft Sans Serif";
    padding: 1em;
}
a, body {
    color: var(--color-2);
}

a {
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

header, footer {
    height: 50px;
    display: flex;
    align-items: center;
}
header {
    justify-content: end;
    padding: 0 1em 0 0;
}

section, ul {
    display: flex;
    gap: 1em;
}
ul {
    list-style: none;
}
section {
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero > div {
    display: flex;
    gap: 1em;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    height: 200px;
    padding: 0 0 0 2em;
}
img {
    border-radius: 15px;
    box-shadow: -7px 7px 1px 0 rgb(234, 234, 100,1), 7px -7px 1px 0 rgb(68, 102, 163);
    transition: ease 0.25s;
}
img:hover {
    box-shadow: none;
}
section p {
    line-height: 25px;
    width: 400px;
    background: red;
}
@media screen and (max-width: 800px) {
    p {
        width: 100%;
    }
    #hero {

    }
}